@-webkit-keyframes rotate {
  0% {
    -webkit-transform: perspective(0) rotateY(0);
            transform: perspective(0) rotateY(0); }
  25% {
    -webkit-transform: perspective(75px) rotateY(90deg);
            transform: perspective(75px) rotateY(90deg); }
  50% {
    -webkit-transform: perspective(0) rotateY(180deg);
            transform: perspective(0) rotateY(180deg); }
  75% {
    -webkit-transform: perspective(75px) rotateY(270deg);
            transform: perspective(75px) rotateY(270deg); }
  100% {
    -webkit-transform: perspective(0) rotateY(360deg);
            transform: perspective(0) rotateY(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: perspective(0) rotateY(0);
            transform: perspective(0) rotateY(0); }
  25% {
    -webkit-transform: perspective(75px) rotateY(90deg);
            transform: perspective(75px) rotateY(90deg); }
  50% {
    -webkit-transform: perspective(0) rotateY(180deg);
            transform: perspective(0) rotateY(180deg); }
  75% {
    -webkit-transform: perspective(75px) rotateY(270deg);
            transform: perspective(75px) rotateY(270deg); }
  100% {
    -webkit-transform: perspective(0) rotateY(360deg);
            transform: perspective(0) rotateY(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::-moz-selection {
  background: #a0ffac; }

::selection {
  background: #a0ffac; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  color: #797979;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7; }

.heading__main {
  color: #FFF;
  font-family: 'Anton', sans-serif;
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg); }
  @media (max-width: 75em) {
    .heading__main {
      font-size: 6.4rem; } }
  @media (max-width: 37.5em) {
    .heading__main {
      font-size: 5.8rem; } }
  .heading__main--sub {
    color: #FFF;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg); }
    @media (max-width: 75em) {
      .heading__main--sub {
        font-size: 3.2rem; } }
    @media (max-width: 37.5em) {
      .heading__main--sub {
        font-size: 2.9rem; } }

.heading__primary {
  color: #333;
  font-size: 4.2rem;
  text-align: center;
  text-transform: uppercase; }
  @media (max-width: 75em) {
    .heading__primary {
      font-size: 3.4rem; } }
  @media (max-width: 37.5em) {
    .heading__primary {
      font-size: 3.1rem; } }
  .heading__primary--light {
    color: #FFF; }

.heading__secondary {
  color: #333;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase; }
  @media (max-width: 75em) {
    .heading__secondary {
      font-size: 2.6rem; } }
  @media (max-width: 37.5em) {
    .heading__secondary {
      font-size: 2.5rem; } }
  .heading__secondary--light {
    color: #FFF; }
  .heading__secondary--no-pointer-events {
    pointer-events: none; }

.heading__tertiary {
  color: #585858;
  font-size: 2.6rem;
  text-transform: uppercase; }
  @media (max-width: 75em) {
    .heading__tertiary {
      font-size: 2.3rem; } }
  @media (max-width: 37.5em) {
    .heading__tertiary {
      font-size: 2.2rem; } }

.light-anchor:link {
  color: #8affff; }

.light-anchor:visited, .light-anchor:hover, .light-anchor:active {
  color: #ff62dd; }

.u-padding-bottom-large {
  padding-bottom: 8rem; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 6rem !important; }

.u-margin-top-small {
  margin-top: 4rem !important; }

.u-center-text {
  text-align: center !important; }

.u-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.about-list {
  font-size: 2rem;
  list-style: none;
  margin-bottom: 2.4rem; }
  .about-list > li {
    margin-bottom: 1.2rem; }
  .about-list li::before {
    content: "";
    background-image: url("../images/checkbox-checked.svg");
    background-size: cover;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-bottom: -0.3rem;
    margin-right: 0.7rem; }
    @supports ((-webkit-mask-image: url()) or (mask-image: url())) or (-webkit-mask-image: url()) {
      .about-list li::before {
        background-color: #048b14;
        background-image: none;
        -webkit-mask-image: url("../images/checkbox-checked.svg");
                mask-image: url("../images/checkbox-checked.svg");
        -webkit-mask-size: cover;
                mask-size: cover; } }

.accordion__heading {
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
  color: #FFF;
  padding: 2rem 1rem;
  position: relative;
  text-align: left;
  transition: background-color .25s,  -webkit-transform .25s;
  transition: background-color .25s,  transform .25s;
  transition: background-color .25s,  transform .25s,  -webkit-transform .25s;
  width: 100%; }
  .accordion__heading:hover, .accordion__heading:focus {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .accordion__heading:hover svg {
    -webkit-animation: rotate 2s infinite ease-out;
            animation: rotate 2s infinite ease-out; }
  .accordion__heading--active {
    background-color: rgba(0, 0, 0, 0.2); }
    .accordion__heading--active svg {
      -webkit-animation: rotate 2s infinite ease-out;
              animation: rotate 2s infinite ease-out; }

.accordion__expand-icon {
  content: "";
  height: 1.5rem;
  margin-right: 1.5rem;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.5rem; }

.accordion__icon-vertical {
  background-color: #333;
  height: 15px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  width: 4px; }
  .accordion__icon-vertical--active {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg); }

.accordion__icon-horizontal {
  background-color: #333;
  height: 4px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15px; }

.accordion__panel {
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  max-height: 0;
  overflow: hidden;
  padding: 0 4rem;
  transition: max-height .25s ease-out; }

.banner-left {
  background-image: linear-gradient(rgba(0, 142, 149, 0.8), rgba(211, 255, 217, 0.8));
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0%, 88% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 88% 100%, 0% 100%);
  min-height: 80vh;
  position: relative; }
  @media (max-width: 56.25em) {
    .banner-left {
      min-height: 52vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
              clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%); } }

.banner-right {
  min-height: 80vh;
  position: relative; }
  @media (max-width: 56.25em) {
    .banner-right {
      min-height: 48vh; } }

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap; }

.carousel {
  position: relative;
  height: 60rem;
  overflow: hidden;
  margin: auto;
  max-width: 128rem; }
  @media (max-width: 56.25em) {
    .carousel {
      margin: 0 3.2rem;
      max-width: none; } }
  .carousel__side-buttons {
    border-radius: 50%;
    color: #fff;
    font-size: 3rem;
    height: 5.5rem;
    padding: 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    transition: all 0.2s;
    width: 5.5rem;
    z-index: 2; }
    .carousel__side-buttons:hover {
      background-color: rgba(0, 0, 0, 0.25);
      cursor: pointer; }
    .carousel__side-buttons--left {
      left: 0;
      margin-left: 1.5rem; }
    .carousel__side-buttons--right {
      margin-right: 1.5rem;
      right: 0; }
  .carousel__arrow-right {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-43%, -53%);
            transform: translate(-43%, -53%); }
  .carousel__arrow-left {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-67%, -53%);
            transform: translate(-67%, -53%); }
  .carousel__slide {
    background-color: #333;
    box-sizing: border-box;
    color: #fff;
    height: 100%;
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transition: all 0s 0.5s;
    width: 100%; }
    .carousel__slide--active {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      transition: all 0.5s cubic-bezier(0.17, 0.67, 0, 1.01);
      z-index: 1; }
    .carousel__slide--1 {
      background-size: cover;
      height: 100%;
      width: 100%; }
    .carousel__slide--2 {
      background-color: red; }
    .carousel__slide--3 {
      background-color: blue; }
  .carousel__nav {
    position: relative;
    height: 5rem;
    bottom: 0; }
  .carousel__button {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 1.2rem;
    margin: 0 0.2rem;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    width: 1.2rem; }
    .carousel__button--active {
      background-color: #00bfc8;
      -webkit-transform: scale(1.3);
              transform: scale(1.3); }
  .carousel__title {
    background-image: linear-gradient(to bottom right, #797979, #333);
    color: #fff;
    -webkit-clip-path: polygon(0 0, 100% -1px, 88% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% -1px, 88% 100%, 0% 100%);
    float: left;
    height: 100%;
    position: absolute;
    width: 58%; }
    @media (max-width: 56.25em) {
      .carousel__title {
        -webkit-clip-path: polygon(0 0, 100% -1%, 100% 88%, 0% 100%);
                clip-path: polygon(0 0, 100% -1%, 100% 88%, 0% 100%);
        height: 58%;
        width: 100%;
        z-index: 1; } }
    .carousel__title--twitfriends {
      background-image: linear-gradient(to bottom right, #6e00ff, #534771); }
    .carousel__title--argmana {
      background-image: linear-gradient(to bottom right, #3e4865, #36498c); }
  .carousel__screenshot {
    background-size: cover;
    box-shadow: inset black 1px 1px 100px 8px;
    float: right;
    height: 100%;
    width: 50%; }
    @media (max-width: 56.25em) {
      .carousel__screenshot {
        float: none;
        height: 50%;
        width: 100%;
        -webkit-transform: translateY(100%);
                transform: translateY(100%); } }
    .carousel__screenshot--1 {
      background-image: url("../images/twitfriends-ss.jpg");
      transition: all 0.5s; }
    .carousel__screenshot--2 {
      background-image: url("../images/argmana-ss.jpg"); }

.contact-form__input, .contact-form__text, .contact-form__message {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  color: #FFF;
  display: block;
  margin: 1.5rem 0;
  padding: 1.5rem;
  transition: background-color .5s ease-out;
  width: 100%; }
  .contact-form__input:focus, .contact-form__text:focus, .contact-form__message:focus {
    background-color: rgba(0, 0, 0, 0.2); }
  .contact-form__input::-webkit-input-placeholder, .contact-form__text::-webkit-input-placeholder, .contact-form__message::-webkit-input-placeholder {
    color: rgba(250, 250, 250, 0.5);
    font-family: inherit; }
  .contact-form__input:-ms-input-placeholder, .contact-form__text:-ms-input-placeholder, .contact-form__message:-ms-input-placeholder {
    color: rgba(250, 250, 250, 0.5);
    font-family: inherit; }
  .contact-form__input::-ms-input-placeholder, .contact-form__text::-ms-input-placeholder, .contact-form__message::-ms-input-placeholder {
    color: rgba(250, 250, 250, 0.5);
    font-family: inherit; }
  .contact-form__input::placeholder, .contact-form__text::placeholder, .contact-form__message::placeholder {
    color: rgba(250, 250, 250, 0.5);
    font-family: inherit; }

.contact-form__label {
  color: #FFF;
  font-size: 1.2rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }

.contact-form__text {
  font-family: inherit;
  height: 12rem;
  resize: none; }

.contact-form__submit {
  background-color: #048b14;
  border: none;
  color: #FFF;
  cursor: pointer;
  padding: 1rem 3rem;
  transition: background-color .2s; }
  .contact-form__submit:hover {
    background-color: #03590d; }

.gallery__container {
  margin: 0 auto;
  max-width: 120rem; }

.gallery__panel {
  background-color: #FFF;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0 0 20px 0px;
  display: inline-block;
  width: 35rem;
  height: 20rem;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  position: relative;
  -webkit-transform-origin: left;
          transform-origin: left;
  transition: margin .25s .25s, background-color .25s .25s, -webkit-transform .25s .25s;
  transition: margin .25s .25s, transform .25s .25s, background-color .25s .25s;
  transition: margin .25s .25s, transform .25s .25s, background-color .25s .25s, -webkit-transform .25s .25s; }
  .gallery__panel::after {
    content: "";
    display: table;
    clear: both; }
  .gallery__panel:not(:last-child) {
    margin-right: 10px; }
  .gallery__panel:hover {
    cursor: pointer;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background-color: #a0ffac;
    margin-right: 18.5rem; }

.icon {
  height: 5rem;
  width: 5rem;
  fill: #333;
  margin-bottom: -.8rem;
  margin-right: .7rem;
  pointer-events: none; }
  @media (max-width: 75em) {
    .icon {
      height: 3.8rem;
      width: 3.8rem; } }
  @media (max-width: 37.5em) {
    .icon {
      height: 3.4rem;
      width: 3.4rem; } }
  .icon--light {
    fill: #FFF; }
  .icon--small {
    height: 2.5rem;
    margin-bottom: 0;
    width: 2.5rem; }

.picture__photo {
  background-size: cover;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2rem 2px;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 16rem;
  max-height: 16rem;
  width: auto; }

.section-banner {
  background-color: #a0ffac; }

.section-about {
  overflow: hidden; }

.section-technologies {
  background-color: #00bfc8;
  color: #fff;
  overflow: hidden; }

.section-projects {
  background-color: #fafafa;
  color: #fff;
  overflow: hidden; }

.section-contact {
  background-color: #a0ffac;
  overflow: hidden; }

.container {
  margin: auto;
  max-width: 96rem; }
  @media (max-width: 56.25em) {
    .container {
      margin: 0 3.2rem;
      max-width: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row--full-width {
    max-width: 100%; }
  .row--full-width-and-height {
    max-width: 100%;
    height: 100%; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row:not(:last-child) {
    margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% / 2)); }

.nav__list {
  list-style: none; }

.nav__link {
  color: #333;
  display: block;
  font-size: 3.8rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 2rem;
  position: relative;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out; }
  @media (max-width: 75em) {
    .nav__link {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .nav__link {
      font-size: 2.7rem; } }
  .nav__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #333;
    z-index: -1;
    transition: width .25s ease-out; }
  .nav__link:hover::before {
    width: 100%; }
  .nav__link:hover {
    color: #a0ffac;
    -webkit-transform: skewX(-8deg);
            transform: skewX(-8deg); }
    .nav__link:hover > svg {
      fill: #a0ffac;
      -webkit-animation: rotate 2s infinite ease-out .25s;
              animation: rotate 2s infinite ease-out .25s; }

