@keyframes rotate {
  0% {
    transform: perspective(0) rotateY(0);
  }

  25% {
    transform: perspective(75px) rotateY(90deg);
  }

  50% {
    transform: perspective(0) rotateY(180deg);
  }

  75% {
    transform: perspective(75px) rotateY(270deg);
  }

  100% {
    transform: perspective(0) rotateY(360deg);
  }
}

@keyframes scroll-up {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -798px, 0); // image height
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(798px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-skewed {
  0% {
    opacity: 0;
    transform: skewX(-10deg) translateY(798px);
  }
  100% {
    opacity: 1;
    transform: skewX(-10deg) translateY(0);
  }
}

@keyframes zoom-up {
  0% {
    transform: translateY(798px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
