.section-banner {
  background-color: $color-primary;
}

.section-about {
  overflow: hidden; // prevent children's margins from affecting this parent
}

.section-technologies {
  background-color: $color-secondary;
  color: #fff;
  overflow: hidden; // prevent children's margins from affecting this parent
}

.section-projects {
  background-color: $color-light-grey;
  color: #fff;
  overflow: hidden;
}

.section-contact {
  background-color: $color-primary;
  overflow: hidden;
}
