.about-list {
  font-size: 2rem;
  list-style: none;
  margin-bottom: 2.4rem;

  > li {
    margin-bottom: 1.2rem;
  }

  & li::before {
    content: "";
    background-image: url("~/images/checkbox-checked.svg");
    background-size: cover;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-bottom: -0.3rem;
    margin-right: 0.7rem;

    @supports (mask-image: url()) or (-webkit-mask-image: url()) {
      background-color: $color-green;
      background-image: none;
      mask-image: url("~/images/checkbox-checked.svg");
      mask-size: cover;
    }
  }
}
