.contact-form {
  &__input,
  &__text,
  &__message {
    background-color: #94ea9f;
    border: none;
    color: $color-dark-grey;
    display: block;
    margin: 1.5rem 0;
    padding: 1.5rem;
    transition: background-color 0.5s ease-out;
    width: 100%;

    &:focus {
      background-color: #7aca85;
    }

    &::placeholder {
      color: $color-dark-grey;
      font-family: inherit;
    }
  }

  &__label {
    color: $color-dark-grey;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__input,
  &__text {
    font-size: 1.8rem;
  }

  &__text {
    font-family: inherit;
    height: 12rem;
    resize: none;
  }

  &__submit {
    background-color: $color-green;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 1rem 3rem;
    transition: background-color 0.2s;

    &:hover {
      background-color: darken($color-green, 10%);
    }
  }

  &__success {
    color: $color-dark-grey;
    display: none;

    &--active {
      display: block;
    }
  }

  &__success-heading-container {
    @include clearfix;
    margin-bottom: 1.2rem;
  }

  &__success-heading {
    font-size: 3rem;
    text-transform: uppercase;
    float: left;
  }

  &--hidden {
    display: none;
  }
}
