.gallery {
    &__container {
        margin: 0 auto;
        max-width: 120rem;
    }

    &__panel {
        background-color: #FFF;
        box-shadow: inset rgba(0,0,0,.35) 0 0 20px 0px;
        display: inline-block; // allow elements to overflow the page
        width: 35rem;
        height: 20rem;
        margin-bottom: 2rem;
        padding: 1rem 1.5rem;
        position: relative;
        transform-origin: left;
        transition: margin .25s .25s,
                    transform .25s .25s,
                    background-color .25s .25s;

        @include clearfix;
          
        &:not(:last-child) {
            margin-right: 10px;
        }
        
        &:hover {
            cursor: pointer;
            transform: scale(1.5);
            background-color: $color-primary;
            margin-right: 18.5rem; // (width * 1.5 - original width) + original margin
        }
    }
}